.comment-box{
    color:red;
    font-size: 22px;
}


.coment-author{
    display: none;
    color: #cccccc;
}

.coment-body{
    color: darkslategrey;;
}

.comment-list{
    color: #a4ff4a;
}

.comment-form{
    color: blue;
    text-indent: hanging;
    background-color: #cccccc;
}

.comment-form input {
    display: block;
}

.comment-form input:focus {
    border:solid 1px darkcyan;
}